<h1>Listing Dogs</h1>

<%= link_to 'New Dog', new_dog_path, remote: true, class: "btn btn-default btn-sm" %>
<div id="dog-form"></div>

<div class="row">

  <div id="dogs">
    <%= render @dogs %>
  </div>

</div> <!-- row -->
